@import './styles.scss';

.padre{
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.padre > * {
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.div1 {
    background-color: $yellow;
  
    &:hover {
      background-color: $red;
    }
  }
  
  .div2 {
    background-color: $red;
  
    &:hover {
      background-color: $yellow;
    }
  }
