@import './global-variables.scss';

.addProject-form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    /* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide the scrollbar for other browsers */
    scrollbar-width: thin; /* "thin" for a thin scrollbar, "auto" for browser default */
    -ms-overflow-style: none; /* IE and Edge */
    &::-ms-scrollbar-thumb {
        display: none; /* Hide scrollbar thumb in IE and Edge */
    }

    button{
        width: 60%;
        height: 30px;
        border-radius: $general-radius;
        border: none;
        padding: 5px;
        font-size: 1rem;
        margin-top: 20px;
        background-color: $darker-shade-1;
        font-weight: bold;
        color: $background-color;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 2%;
        &:hover{
            background-color:$background-color;
            font-weight: bold;
            color: $darker-shade-1;
            cursor: pointer;
            scale: 0.9;
    }
  }
}