@import './global-variables.scss';

.dashboard-container{
    height: 98vh;
    display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap:10px;
    padding: 5px;
}

@media screen and (max-width: 1100px) {
    .dashboard-container{
        grid-template-rows: repeat(11, 1fr);
        height: auto;
    }
    
}
