@import './global-variables.scss';

.project-item-container{
    width: 90%;
    height: 70px;
    background-color: $background-color;
    border-radius: $general-radius;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 4px solid transparent;
        border-radius: $general-radius;
        transition: border-color 0.5s ease-in-out;
      }
    
      &:hover::before {
        border-color:$background-color;
      }

    h3{
        font-size: 1.5rem;
        font-weight: 500;
        color: $background-color;
        background-color: rgba(0, 0, 0, 0.116);
        width: 100%;
        height: 100%;
        border-radius: $general-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        letter-spacing: 2px;
    }
}